<style type="text/css" media="screen">
  .margintab
  {

    margin-left: 650px;
  }
</style>

<%= render 'form' %>

<div class="margintab"><p>or</p><h4><%= link_to 'Back', products_path %></h4></div>
