<div id="footer">
        <div class="container">
            <div class="row ">
                &copy; 2016 www.smartapp.com | All Right Reserved         
    
            </div>
            
        </div>
       
    </div>  